<form class="form-signin" ng-submit="login()">
  <img class="mb-4" src="images/simbolo-ying-yang.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Ingrese sus datos en el formulario</h1>
  <label for="inputNombre" class="sr-only">Nombre de usuario</label>
  <input type="text" id="inputNombre" class="form-control" placeholder="Nombre de usuario" required="" autofocus="" ng-model="usuario.nombre">
  <label for="inputCorreo" class="sr-only">Email address</label>
  <input type="email" id="inputCorreo" class="form-control" placeholder="Dirección de correo" required="" ng-model="usuario.correo">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Inicie sesión</button>
  <p class="mt-5 mb-3 text-muted">© 2018</p>
</form>
