<main role="main" class="container">
  <div class="jumbotron">
    <h1>Bienvenido al sistema ScrumManager</h1>
    <p class="lead">Agradecemos el uso del software y que dicho uso mejore la labor por la cual es usado.</p>
    <a class="btn btn-lg btn-primary" href="#" role="button">View navbar docs »</a>
  </div>
</main>
