<div class="container">
  <form ng-submit="editar_perfil()">
    <div class="form-group">
      <label for="nombreMiPerfil"><i class="fas fa-user"></i> Nombre</label>
      <input type="text" class="form-control" id="nombreMiPerfil" aria-describedby="nombreMiPerfilHelp" placeholder="Nombre de usuario" ng-model="usuario_conectado.nombre" readonly required>
      <small id="nombreMiPerfilHelp" class="form-text text-muted">El nombre de usuario no puede modificarse.</small>
    </div>
    <div class="form-group">
      <label for="correoMiPerfil"><i class="fas fa-at"></i> Correo</label>
      <input type="email" class="form-control" id="correoMiPerfil" placeholder="Correo del usuario" ng-model="usuario_conectado.correo" required>
    </div>
    <button type="submit" class="btn btn-success" ng-disabled="editando">
      <span ng-show="!editando">Guardar información</span>
      <span ng-if="editando == true"><i class="fas fa-circle-notch fa-spin"></i> Guardando la información ...</span>
    </button>
  </form>
</div>
