<div class="container">
  <h1>Mis notas</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Título</th>
        <th scope="col">Texto</th>
        <th scope="col">Creación</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="nota in notas">
        <th scope="row">{{ nota._id }}</th>
        <td>{{ nota.titulo }}</td>
        <td>{{ nota.texto }}</td>
        <td>{{ nota.creacion | date:'dd/MM/yyyy HH:mm:ss'}}</td>
      </tr>
    </tbody>
  </table>
</div>
