<div class="container">
  <form ng-submit="crear_nota()">
    <div class="form-group row">
      <label for="tituloCrearNota" class="col-sm-2 col-form-label">Título</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="tituloCrearNota" placeholder="Título de la nota" ng-model="nota.titulo" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="TextoCrearNota" class="col-sm-2 col-form-label">Texto</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="TextoCrearNota" placeholder="Texto de la nota" ng-model="nota.texto" required></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-success" ng-disabled="creando">
      <span ng-show="!creando">Ingresar nota</span>
      <span ng-if="creando"><i class="fas fa-circle-notch fa-spin"></i> Ingresando la nota ...</span>
    </button>
  </form>
</div>
