<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <span class="navbar-brand">Bienvenido {{ usuario_conectado.nombre }}</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" ng-class="{ active: current_active('home') }">
        <a class="nav-link" ui-sref="home">Home</a>
      </li>
      <li class="nav-item" ng-class="{ active: current_active('home.miPerfil') }">
        <a class="nav-link" ui-sref="home.miPerfil">Mi perfil</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Notas</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" ui-sref="home.misNotas">Mis notas</a>
          <a class="dropdown-item" ui-sref="home.crearNota">Crear</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#" ng-click="cerrar_sesion();$event.preventDefault();">Cerrar sesión</a>
      </li>
    </ul>
  </div>
</nav>
